*{
   margin: 0;
   padding: 0;
   text-align: center;
   width: 100%;
   height: 100%;
}
#star-right{
   animation:star-right 4s ease-in-out infinite alternate ;
}
@keyframes star-right {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}
#fire{
   animation: fire 1.5s ease-in infinite alternate;
}
@keyframes fire {
from{
   opacity: .2;
}
   to{
      opacity: 1;
   }
}
#star-left{
   animation:star-left 1s ease-in-out infinite alternate ;
}
@keyframes star-left {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}
#moon{
   animation: moon 1.5s linear infinite alternate;
   transform-origin: center;

}
@keyframes moon {
   from{
      opacity: .6;
   }
   to{
      opacity: 1;
   }
}
